---
import BaseHead from "../components/BaseHead.astro";
import BookComponent from "../components/BookComponent.astro";
import Header from "../components/Header.astro";
import PaperComponent from "../components/PaperComponent.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>Stuff that I think is worth reading</p>

      <br />
      <h5>Influence on how I live life:</h5>

      <ul class="my-4 mx-2 text-lg">
        <li>
          <BookComponent
            bookTitle="Fooled by Randomness"
            bookLink="https://en.wikipedia.org/wiki/Fooled_by_Randomness"
            author="Nassim Nicholas Taleb"
            authorLink="https://twitter.com/nntaleb"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="AntiFragile"
            bookLink="https://en.wikipedia.org/wiki/Antifragile_(book)"
            author="Nassim Nicholas Taleb"
            authorLink="https://twitter.com/nntaleb"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="How to Win Friends and Influence People"
            bookLink="https://en.wikipedia.org/wiki/How_to_Win_Friends_and_Influence_People"
            author="Dale Carnegie"
            authorLink="https://en.wikipedia.org/wiki/Dale_Carnegie"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Tao Te Ching (道德经)"
            bookLink="https://en.wikipedia.org/wiki/Tao_Te_Ching"
            author="Lao zi (老子)"
            authorLink="https://en.wikipedia.org/wiki/Laozi"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Berserk"
            bookLink="https://en.wikipedia.org/wiki/Berserk_(manga)"
            author="Kentaro Miura"
            authorLink="https://en.wikipedia.org/wiki/Kentaro_Miura"
          />
        </li>
      </ul>

      <br />

      <h5>Knowledge that everyone should know:</h5>
      <ul class="my-4 mx-2 text-lg">
        <li>
          <BookComponent
            bookTitle="The Selfish Gene"
            bookLink="https://en.wikipedia.org/wiki/The_Selfish_Gene"
            author="Richard Dawkins"
            authorLink="https://en.wikipedia.org/wiki/Richard_Dawkins"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Sapiens: A Brief History of Humankind"
            bookLink="https://en.wikipedia.org/wiki/Sapiens:_A_Brief_History_of_Humankind"
            author="Yuval Noah Harari"
            authorLink="https://twitter.com/harari_yuval"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Why We Sleep"
            bookLink="https://en.wikipedia.org/wiki/Why_We_Sleep"
            author="Matthew Walker"
            authorLink="https://en.wikipedia.org/wiki/Matthew_Walker_(neuroscientist)"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Blitzed: Drugs in the Third Reich"
            bookLink="https://www.goodreads.com/book/show/29429893-blitzed"
            author="Norman Ohler"
            authorLink="https://en.wikipedia.org/wiki/Norman_Ohler"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="Attached"
            bookLink="https://www.attachedthebook.com/wordpress/"
            author="Amir Levine"
            authorLink="https://www.attachedthebook.com/wordpress/amir-levine/"
          />
        </li>
      </ul>
      <br />

      <h5>Other Highlights:</h5>
      <ul class="my-4 mx-2 text-lg">
        <li>
          <BookComponent
            bookTitle="The Three-Body Problem"
            bookLink="https://en.wikipedia.org/wiki/The_Three-Body_Problem_(novel)"
            author="Liu Cixin"
            authorLink="https://en.wikipedia.org/wiki/Liu_Cixin"
          />
        </li>
      </ul>
      <br />

      <h5>Currently Reading:</h5>
      <ul class="my-4 mx-2 text-lg">
        <li>
          <BookComponent
            bookTitle="The Art of War"
            bookLink="https://en.wikipedia.org/wiki/The_Art_of_War"
            author="Sun Tzu"
            authorLink="https://en.wikipedia.org/wiki/Sun_Tzu"
          />
        </li>
        <li>
          <BookComponent
            bookTitle="The Blank Slate"
            bookLink="https://en.wikipedia.org/wiki/The_Blank_Slate"
            author="Steven Pinker"
            authorLink="https://en.wikipedia.org/wiki/Steven_Pinker"
          />
        </li>
      </ul>
      <br />

      <h5>CS Papers:</h5>
      <ul class="my-4 mx-2 text-lg">
        <li>
          <PaperComponent
            title="Bitcoin: A Peer-to-Peer Electronic Cash System"
            link="https://bitcoin.org/bitcoin.pdf"
          />
        </li>
        <li>
          <PaperComponent
            title="Scaling Laws for Neural Language Models"
            link="https://arxiv.org/pdf/2001.08361.pdf"
          />
        </li>
        <li>
          <PaperComponent
            title="Transformer Inference Arithmetic"
            link="https://kipp.ly/transformer-inference-arithmetic/"
          />
        </li>
        <li>
          <PaperComponent
            title="Reducing Activation Recomputation in Large Transformer Models"
            link="https://arxiv.org/pdf/2205.05198.pdf"
          />
        </li>
        <li>
          <PaperComponent
            title="RoFormer: Enhanced Transformer with Rotary Position Embedding"
            link="https://arxiv.org/abs/2104.09864"
          />
        </li>
        <li>
          <PaperComponent
            title="Outrageously Large Neural Networks: The Sparsely-Gated Mixture-of-Experts Layer"
            link="https://arxiv.org/pdf/1701.06538.pdf"
          />
        </li>
        <li>
          <PaperComponent
            title="Attention is All You Need"
            link="https://arxiv.org/abs/1706.03762"
          />
        </li>
      </ul>
      <br />

      <h5>Neuroscience Papers:</h5>
      <ul class="my-4 mx-2 text-lg">
        <li>
          <PaperComponent
            title="The psychology and neuroscience of curiosity"
            link="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4635443/"
          />
        </li>
        <li>
          <PaperComponent
            title="The Tenacious Brain: How the Anterior Mid-Cingulate Contributes to Achieving Goals"
            link="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7381101/"
          />
        </li>
        <li>
          <PaperComponent
            title="Mesolimbic Dopamine Signals the Value of Work"
            link="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4696912/"
          />
        </li>
      </ul>
    </main>

    <!-- <Footer /> -->
  </body>
</html>
