---
interface Props {
  bookTitle: string;
  bookLink: string;
  author: string;
  authorLink: string;
}

const { bookTitle, bookLink, author, authorLink } = Astro.props;
---

<p>
  <a class="text-blue-600 hover:underline font-bold" href={bookLink}>
    <span>{bookTitle}</span>
  </a>
  <span>by <a href={authorLink}>{author}</a></span>
</p>
