---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<p>
  <a class="text-blue-600 hover:underline font-bold" href={link}>
    <span>{title}</span>
  </a>
</p>
